header{

    @extend %nav-text-style;

    a {
        text-decoration: none;
        color: inherit;
    }

    .menu{
        display: flex;
        margin-top: $navHegth;
        background-color: $primaryColor;
        width: 100%;
        height: 0px;
        z-index: 2;
        position: fixed;
        justify-content: center;
        text-align: center;
        padding-right: 20px;
        opacity: 0;

        ul {
            list-style: none;
            cursor: pointer;
            li {
                padding: 20px;
                margin-right: 10px;
                transition: background-color 0.3s;
                border-radius: 5px;
            }
            font-weight: 400;
        }
    }

    .hero {
        height: $heroHeigth;
        padding-top: $navHegth;
        background-image: url("../img/hero-background.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        
        .hero-content{
            height: $heroHeigth;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .ml1{
                font-weight: 600;
                font-size: 3.5em;
                margin-bottom: 40px;

                .letters{
                    display: inline-block;
                    line-height: 1em;
                    text-align: center;
                }

                .text-wrapper{
                    position: relative;
                    display: inline-block;
                    padding-top: 0.1em;
                    padding-right: 0.05em;
                    padding-bottom: 0.15em;
                    margin: 0px 10px;
                }

                .line {
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    height: 3px;
                    width: 100%;
                    background-color: $secondaryColor;
                    transform-origin: 0 0;
                }

                .line1 {
                    top: 0;
                }

                .line2 {
                    bottom: 0;
                }
            }

        }

        p {
            text-align: center;
            padding: 0px 10px;
        }

    }

}