main {

    .presentation {
        @include main-text-style(black);

        &-content {
            // height: $presentationHeigth;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 80px 0px;

            h2 {
                font-size: 30px;
                margin-bottom: 20px;
                color: $secondaryColor;
            }

            p {
                text-align: center;
                font-weight: 400;
            }

        }

    }

    .services {
        @include main-text-style(black);
        background: rgb(0,58,76);
        background: linear-gradient(90deg, rgba(0,58,76,1) 0%, rgba(0,118,156,1) 57%, rgba(0,128,167,1) 100%);

        &-content {
            display: flex;
            padding: 100px 0px;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .card {
                height: 600px;
                width: 450px;
                border-radius: 5px;
                box-shadow: 0px 0px 10px #9a9a9a;
                padding: 10px;
                color: $tertiaryColor;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    margin-bottom: 10px;
                }

                p {
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                }

                &.haircut {
                    background-image: url("../img/haircut.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position:  left top;
                    transition: background-size 0.3s;
                }

                &.barber {
                    background-image: url("../img/barber.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center top;
                }
            }
        }

    }

    @import "gallery";

    .maps {
        width: 100%;
        height: 500px;
        border:0;
        
    }

}