@media screen and (max-width: 1200px){
    nav ul {
        display: none;
    }
    
    .container {
        width: 900px;
    }

    .mobile-menu {
        display: block;
    }

    .presentation-content {
        p {
            padding: 0px 30px;
        }
    }

    .services-content {
        flex-direction: column;
        justify-content: center;

        .haircut {
            margin-bottom: 100px;
        }
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    main {
        .gallery {
            padding: 0px;
            margin:0px;
            ul{
                display: none;
            }
        }

        .port {
            visibility: visible;
            position: relative;
            border-bottom: 0px;
            transform: translateY(0%);

            img {
                width: 90%;
            }

            .description {
                width: 80%;
                max-height: 100%;
                padding: 0;
                overflow: auto; 
        
                h1 {
                    font-size: 35px;
                    line-height: 2.3;
                    padding: 0;
                    text-align: center; 
                }
            }

            &:last-child {
                padding-bottom: 80px;
            }

        }
    }

}

@media screen and (max-width: 800px){
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 1200px){
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 500px){
    
    .services-content {
        div.card{
            width: 90%;
            height: 80vh;
        }
    }

    header .hero .hero-content .ml1 {
        font-size: 2.5em;
    }

    nav {
        span.logo{
            font-size: 100%;
        }
    }

}

@media screen and (max-width: 300px) {

    header .hero .hero-content .ml1 {
        font-size: 2em;
    }

}

@media screen and (max-width: 280px){
    header .hero .hero-content .ml1 {
        font-size: 100%;
    }    
}