@media screen and (max-width: 1200px){
    nav ul {
        display: none;
    }
    
    .container {
        width: 900px;
    }

    .mobile-menu {
        display: block;
    }

    .presentation-content {
        p {
            padding: 0px 30px;
        }
    }

    .services-content {
        flex-direction: column;
        justify-content: center;

        .haircut {
            margin-bottom: 100px;
        }
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

}

@media screen and (max-width: 800px){
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 1200px){
    .mobile-menu {
        display: none;
    }
}