nav {

    position: fixed;
    z-index: 3;
    width: $navWidth;
    height: $navHegth;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    transition: background-color 0.3s;
    touch-action: none;


    span.logo{
        font-size: 30px;

        img {
            height: 30px;
        }
    }

    ul {
        @extend %list-inline;
        font-weight: 400;
    }

    .mobile-menu {

        i {
            padding: 20px;
            transition: background-color 0.3s;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    &.scroll {
        background-color: $primaryColor;
    }

}