// common
$containerWidth: 1000px;

// colors
$primaryColor: #003a4c;
$secondaryColor: #d1750c;
$tertiaryColor: #ffffff;

//nav 
$navHegth: 100px;
$navWidth: 100%;

// hero 
$heroHeigth: 800px;

// main
$presentationHeigth: 200px;